.task {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 40px 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.6em;
    color: $white;
    background-color: $color-secondary;
    border-radius: 2px;
    cursor: pointer;
    &--completed {
      color: $grey;
      background-color: $grey-light;
    }
    &--completed .task__name {
      text-decoration: line-through;
    }
  }
  &__name {
    width: calc(100% - 80px);
    padding: 10px 0;
  }
  &__icon {
    width: 40px;
    padding: 10px;
    text-align: center;
  }
}
