@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-main: 'Roboto', sans-serif;

$very-peri: #6667ab;
$illuminating: #f5df4d;
$living-coral: #ff6d5e;
$cerulean: #98b4d4;

$color-main: $living-coral;
$color-secondary: $cerulean;

$black: #000;
$white: #fff;
$grey: #999;
$grey-light: #e5e5e5;
$grey-dark: #666;

@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}
